<h2>Poste</h2>
<div>
Name : 
<%= @poste.name%>
<div>
<div>
Description :
<%= @poste.description%>
<div>
<%= link_to 'Edit' , poste_edit_path%>
<%= link_to 'Delete' ,poste_path , method: :delete, data: {confirm: 'Are You Sure ? '}%>