
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">A Fragrance is an unseen accessory and should be something</h1>
        <h2 class="masthead-subheading mb-0">that complements your personality</h2>
                                           <% if user_signed_in?%>
              <p class="font pl-2 mt-0" >Welcome <span class= "font-weight-bold"> <%= current_user.email %></span></p>
        <a class="btn btn-primary btn-xl rounded-pill mt-5" href=" <%=posts_path%>">Find Out More</a>
                             <% end %>
      </div>
 
<br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/><br/><br/>
      </div>

       

        