/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 .container{
background-color : white; }


.images-show {
	height: 250px;
	width:250px;
}
header.masthead{
	padding-top: 100px;
	padding-bottom:100px;
	background: linear-gradient(to bottom, rgba(165, 138, 120, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url("https://i.pinimg.com/564x/ec/fb/3c/ecfb3c56c5b43f0dfd0c260bb3016dae.jpg");   
 background-position: inherit;
	background-size: cover;}

.text-white {
    color: #fff !important;
}.font-weight-bold {
    font-weight: 700 !important;
}.text-uppercase {
    text-transform: uppercase !important;
}

header.masthead h1 {
	font-size:60px;
	text-align: center;
}
header.masthead p{
	font-size:20px;
	text-align: center;
	color: #fff;
}
body{
background-color: red;
}

